<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmación</title>
</head>
<body>
    {% if error_token %}
        <h1> {{ error_token }}</h1>

    {% elif error_vencido %}
        <h1> {{ error_vencido }}</h1>

    {% elif error %}
    <h1> {{ error }}</h1>
    
    {% else %}
        <h1> Hola {{ invitado }}</h1>
        {% if stage == "save" %}
            <h2> Save the date: ¿podés venir al evento? </h2>
        {% elif stage == "final" %}
            <h2> Confirmación final: ¿vas a asistir? </h2>
        {% endif %}

        <ul>
            {% for answer in answers %}
                <li><button type="button">{{ answer }}</button></li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>